@use "variables" as *;
@use "mixins" as *;

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: Arial, sans-serif;
}

.app-shell {
  @include container;
  padding: 1rem 0 2rem;
}